<div class="container_add-novo-arquivo">
   
   <div class="inputs-arquivo" *ngIf="!addIso">
       

        <h2>Salvar Arquivo</h2>
    <form  (ngSubmit)="salvarPrograma()">
      <div class="inputs">
        <label for="nome">Nome</label>
        <input type="text" id="nome" [(ngModel)]="nome" name="nome" required />
      </div>

      <div class="inputs">
        <label for="urlImg">Imagem Associada</label>
        <input type="file" id="urlImg" (change)="onImgSelected($event)" required />
      </div>

      <div class="img-pre-definida">
        <a 
          *ngFor="let img of imagens; let i = index" 
          (click)="imagemPreDefinida(img, i)" 
          [class.active]="i === selecionado">
          <img [src]="img" alt="">
        </a>
      </div>

      <div class="inputs">
        <label for="urlArquivo">Arquivo do Programa</label>
        <input type="file" id="urlArquivo" (change)="onArquivoSelected($event)" required />
      </div>

      

      <button class="botao-salvar" type="submit">Salvar</button>
    </form>

    </div>

</div>