
.container_home{
    
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}
.home{
    
    background-color: rgb(200, 235, 223);
    padding: 1em;
    width: 60%;
    
}

.container_link{
    max-width: 95%;
    
}

.container_link li{
    
    display: flex;
   
    border: 1px solid rgb(177, 170, 170);
    border-radius: 3px;

   
}

.container_link li button{
    cursor: pointer;
}
.container_link li a{
    font-weight: bold;
}

.container_link li a:hover{
    transition: 0.2s;
   background-color: rgb(228, 228, 233);
}



.link{
    cursor: pointer;
    font-size: 20px;
    
    width: 100%;
    height: 100%;
    padding: 0.5em;

}

.container_iso{
    display: flex;
    flex-direction: row;
    
}


.iso{
    margin-left: 10px;
    
}

.iso button{
    padding: 0.5em 1em;
}


.title_arquivos{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;

}

.title_arquivos h2{
    margin-right: 1em;

}

.title_arquivos button{
    padding: 0.1em 0.3em;
    cursor: pointer;

}


.arquivos{
    margin-top: 1em;
}

.arquivos_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.arquivos_list li{
   
    margin-top: 1em;
    margin-right: 1em;
    
}

.input_novo_link {
    margin-top: 2px;

}


.input_novo_link input{
    padding: 0.5em;
    margin-left: 2px;

}

.input_novo_link button{
    padding: 0.5em;
    font-weight: bold;
    margin-left: 0.5em;
    cursor: pointer;

}


